<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/jass.css" />
  <link rel="stylesheet" href="./css/style.css" />


  <title>{{pageTitle}}</title>
</head>

<body>
  <header>
    <nav class="nav has-shadow">
      <div class="nav-left">
        <a class="nav-item" href="/">
          <h1>My Blog</h1>
        </a>
      </div>
      <div class="nav-center nav-menu">
        <!-- HTML code with template engine syntax (e.g., Handlebars) -->

        <a class="nav-item is-tab" href="/">Home</a>
        {{#if logged_in}}
        <a class="nav-item is-tab" href="/profile">Dashboard</a>
        <button id="logout" class="nav-item is-tab">Logout</button>
        {{else}}
        <a class="nav-item is-tab" href="/login">Login</a>
        {{/if}}

        <!-- Add this script block at the end of the HTML file or include it in a separate JavaScript file -->

        <script>
          const logout = async () => {
            const response = await fetch('/api/users/logout', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
            });

            if (response.ok) {
              document.location.replace('/');
            } else {
              alert(response.statusText);
            }
          };

          document.querySelector('#logout').addEventListener('click', logout);
        </script>

      </div>
    </nav>
  </header>


  {{{body}}}

  <footer>
    <p>&copy; 2023 My Blog</p>
  </footer>
</body>

</html>